.card {
  list-style: none;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  height: 200px;
  background-color: #FFFFFF;
  border-left-color: #B0BEC5;
  border-right-color: #B0BEC5;
  border-bottom-color: #B0BEC5;
  color: #B0BEC5;
  font-family: Arial;
  font-size: 40px;
}