#inertial-container {
  width: 100%;
}

#inertial-container > div {
  border: 3px solid black;
}

.buffer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 300px;
  background-color: pink;
}

.scroller {
  width: inherit;
  height: 1200px;
  background-color: lightgray;
}

body.noscroll {
    position: fixed; 
    overflow-y: scroll;
    width: 100%;
}