.inertial-container {
  width: 100%;
}

.inertial-container > div {
  border: 3px solid black;
}

.buffer {
  width: inherit;
  height: 400px;
  background-color: pink;
}

.scroller {
  width: inherit;
  height: 1200px;
  background-color: lightgray;
}
